body {
  margin: 1em;
  font: 1.2rem/1.4 Georgia, serif;
}
.quote {
  margin-right: 9em;
  background: #f3f4f7;
  padding: 0.5em;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  margin: 0.5em;
}
