<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Informasi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grade">
      <ion-icon name="school"></ion-icon>
      <ion-label>Nilai</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="finance">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Keuangan</ion-label>
    </ion-tab-button>
    <!--
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
